.profileInfo {
    display: flex;
    border-bottom: 1px solid rgb(174, 173, 173);
    background: rgb(205, 159, 159);
    border-radius: 10px;
    width: fit-content;
}

.profileInfo ul{
    list-style-type: none;
    padding: 0;
    color: aliceblue;
    margin-right: 100px;
}

.profileInfo img{
   margin: 10px;
   width: 100px;
}